<h2>
  Products
</h2>

<!-- Loop Through all products -->
<div *ngFor="let product of products">
  <!-- Show Product Name with a help text and an anchor -->
  <h3>
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>

  <!-- Show Description if the product has one -->
  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <!-- 
    Add a share button.
    Bind the share() function of "product-list.component.ts"
  -->
  <button (click)="share()">
    share
  </button>

  <!-- 
    Display "product-alerts" as child of "product-list"
  -->
  <app-product-alerts
    [product]="product"
    (notify)="onNotify()">
  </app-product-alerts>


</div>






<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->

